@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');



.hero-banner{
    background-image: url(../images/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-caption{
    position: static;
    color: #333;
}
.hero-banner{
    margin-bottom: 50px;
}
.hero-banner-contant{}
.hero-banner-contant h6{
    color: #0385C7;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
}
.hero-banner-contant h1{
    color: #fff;
    padding-bottom: 15px;
}
.hero-banner-contant p{
    color: #fff;
    opacity: .5;
    padding-bottom: 10px;
}
.btn-custom{
    background: #0385C7;
    color: #fff;
    
}
.btn-custom1{
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.26);
    margin-left: 10px;
}
.btn-custom:hover{
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.26);
}
.btn-custom1:hover{
    background: #0385C7;
    color: #fff;
}


.feature-section{
    margin-bottom: 100px;
}
.feature-section .heading{
    margin-bottom: 50px;
}
.feature-section span{
    text-transform: uppercase;
    color: #0385C7;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}
.feature-section h2{
    color: #333;
    font-size: 36px;
    font-weight: 600;
}

.feature{}
.feature .icon{
    text-align: center;
}
.feature .icon img{
    width: 40px;
    padding-bottom: 40px;
}
.feature .icon h3{
    font-size: 24px;
}
.feature .icon p{
    font-size: 18px;
    padding-top: 5px;
    opacity: .5;
}

.details-section .details-img img{
    width: 90%;
}
.details-contant{
    margin-top: 50px;
}
.details-contant .heading span{
    text-transform: uppercase;
    color: #0385C7;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}
.details-contant .heading h2{
    color: #333;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 30px;
}
.details-contant p{
    font-size: 18px;
    opacity: .5;
    padding-bottom: 20px;
}
.details-contant ul li{
    padding-bottom: 10px;
}
.details-contant ul li img{
    width: 20px;
}
.details-contant ul li span{
    font-size: 18px;
}
.details1-section{
    margin-top: 10px;
}
.details1-section .details-img img{
    width: 95%;
} 

.testimonial-section{
    margin-top: 20px;
    background-image: url(../images/Warstwa-8.png);
    padding-top: 20px;
}
.testimonial-section .heading span{
    text-transform: uppercase;
    color: #0385C7;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}
.testimonial-section .heading h2{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 50px;
}
.carousel-caption p{
    width: 95%;
    font-size: 22px;
    text-align:left;
    padding-bottom: 30px;
    color: #fff;
}
.carousel-caption img{
    padding-bottom: 100px;
    padding-right: 10px;
}
.carousel-caption ul li span{
    display: block;
    text-align: left;
    color: #fff;
}
.carousel-caption ul li strong{
    color: #fff;
}
.download-section{
    background-color:black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.download-header{}
.download-header h2{
    color: #fff;
    
    font-size: 30px;
}
..priceing-and-plane-section{}
.priceing-and-plane-section .heading{
    padding-top: 30px;
    padding-bottom: 50px;
}
.priceing-and-plane-section .heading span{
    text-transform: uppercase;
    color: #0385C7;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}
.priceing-and-plane-section .heading h2{
    color: #333;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 50px;
}
.price-plan ul li {
    padding: 10px;
    border: 1px solid #00000015;
    font-size: 24px;
    text-align: center;
}
.price{
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
}
.price sup{
    font-size: 34px
}
.price span{
    font-size: 18px;
    color: #999;
    display: block;
}
.price-plan ul li p{
    font-size: 20px;
}
.btn-order-now{
    background: transparent;
    color: #0385C7;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgba(51, 51, 51, 0.164);
    transition: all 5ms linear;
}
.btn-order-now:hover{
    background: #0385C7;
    color: #fff;

}
.contact-section{
    margin-top: 50px;
}
.contact-section span{
    text-transform: uppercase;
    color: #0385C7;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}
.contact-section h2{
    color: #333;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 50px;
}
 address i{
    font-size: 20px;
    color: #0385C7;
 }
 address p{
     font-size: 14px;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .color-box{
     background: #333;
     position: relative;
 }
 .color-box .form-control{
     background: transparent;
     border: 1px solid #999;
 }
 .form-control:focus{
     background-color: #fff;
 }
 .color-box .btn-custom{
     float: right;
 }
 footer{
     background-color: black;
     padding: 30px 0;
 }
 footer ul li a{
     text-decoration: none;
     padding: 10px;
 }
 footer ul li a i{
     font-size: 20px;
     color: rgba(255, 246, 246, 0.349);
     transition: all 1s linear;
 }
 footer ul li a i:hover{
     color: #0385C7;
 }
 footer p{
    color: rgba(255, 246, 246, 0.349);
    padding-top:10px;
 }
 .line{}
 .line::after{
    content: "";
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 30px;
    height: 3px;
    background: #0385C7;
 }
 .line::before{
     content: "";
     position: absolute;
     left: 0;
     bottom:0;
     width: 30px;
     height: 3px;
     background: #0385C7;
 }
 .ratio-21x9 {
    --bs-aspect-ratio: 30%;
}
.map iframe{
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 1;
}
